<p id="notice"><%= notice %></p>

<p>
	<b>Title:</b>
	<%= @list.title %>
</p>

<p>
	<b>Description:</b>
	<%= @list.description %>
</p>


<%= render :partial => 'tasks/show.html.erb', :locals => { :list => @list } %>
<%= render :partial => 'tasks/form.html.erb', :locals => { :list => @list } %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
